<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.adminapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".foreignDoctor.ForeignHospitalDoctorBookingListActivity"></activity>
        <activity android:name=".foreignDoctor.ForeignHospitalCompletedBookingListActivity" />
        <activity android:name=".foreignDoctor.ForeignHospitalDoctorListActivity" />
        <activity android:name=".foreignDoctor.ForeignHospitalListActivity" />
        <activity android:name=".nurse.NurseTakenDetailsActivity" />
        <activity android:name=".nurse.NurseTakenListActivity" />
        <activity android:name=".nurse.NurseVendorListActivity" />
        <activity android:name=".ambulance.AmbulanceRequestDetailsActivity" />
        <activity android:name=".ambulance.AmbulanceRequestActivity" />
        <activity android:name=".ePharmachy.PharmacyRequestDetailsActivity" />
        <activity android:name=".ePharmachy.PharmacyOrderListActivity" />
        <activity android:name=".ePharmachy.EPharmachyListActivity" />
        <activity android:name=".physiotherapist.PhysiotherapistBookingListActivity" />
        <activity android:name=".physiotherapist.PhysiotherapistVendorActivity" />
        <activity android:name=".hospital.HospitalDoctorPendingBookingActivity" />
        <activity android:name=".hospital.HospitalCompletedBookingListActivity" />
        <activity android:name=".hospital.HospitalDoctorListActivity" />
        <activity android:name=".hospital.HospitalListActivity" />
        <activity android:name=".heathtips.HealthTipsListActivity" />
        <activity android:name=".heathtips.AddHealthTipsActivity" />
        <activity android:name=".doctor.DoctorDetailsActivity" />
        <activity android:name=".doctor.DoctorInfoActivity" />
        <activity android:name=".chamber.ApprovedDisapprovedActivity" />
        <activity android:name=".chamber.ChamberListActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".WelcomeActivity" />
        <activity android:name=".MainActivity" />
        <service
            android:name=".NotificationService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/medilink" />

        <meta-data android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorSubMain" />
    </application>

</manifest>